<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>exemplo-jsf</display-name>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <!-- Facelets Configuration-->
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 
<!-- <context-param>-->
<!-- <description></description>-->
<!-- <param-name>com.sun.faces.numberOfViewsInSession</param-name>-->
<!-- <param-value>1</param-value>-->
<!-- </context-param>-->
<!--<context-param>-->
<!-- <description></description>-->
<!-- <param-name>com.sun.faces.numberOfLogicalViews</param-name>-->
<!-- <param-value>1</param-value>-->
<!--</context-param>-->
 
 
 <!-- Rich Faces Configuration-->
 <filter>
  <display-name>Ajax4jsf Filter</display-name>
  <filter-name>ajax4jsf</filter-name>
  <filter-class>org.ajax4jsf.Filter</filter-class>
 </filter>
 <!-- MyFaces Configuration-->
 <filter>
  <filter-name>MyFacesExtensionsFilter</filter-name>
  <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
  <init-param>
   <param-name>uploadMaxFileSize</param-name>
   <param-value>20m</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>ajax4jsf</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
  <dispatcher>ERROR</dispatcher>
 </filter-mapping>
 <filter-mapping>
  <filter-name>MyFacesExtensionsFilter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>MyFacesExtensionsFilter</filter-name>
  <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>MyFacesExtensionsFilter</filter-name>
  <url-pattern>*.jsf</url-pattern>
 </filter-mapping>
 <!-- Demoiselle Configuration-->
 <listener>
  <listener-class>br.gov.framework.demoiselle.web.init.WebInitializationServletContextListener</listener-class>
 </listener>
 <listener>
  <listener-class>br.gov.framework.demoiselle.web.security.WebSecurityServletRequestListener</listener-class>
 </listener>
 <listener>
  <listener-class>br.gov.framework.demoiselle.web.transaction.WebTransactionServletRequestListener</listener-class>
 </listener>
 <!-- JSF Configuration -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>WebRedirectServlet</servlet-name>
  <servlet-class>br.gov.framework.demoiselle.web.redirect.WebRedirectServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>WebRedirectServlet</servlet-name>
  <url-pattern>/redirect</url-pattern>
 </servlet-mapping>
 <!-- Pages Configuration -->
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/public/pages/error/404.jsp</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/public/pages/error/500.jsp</location>
 </error-page>
 <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>/public/pages/error/global.jsp</location>
 </error-page>
 <!-- Security Configuration -->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>private</web-resource-name>
   <description>private resources</description>
   <url-pattern>/private/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
   <role-name>*</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <auth-method>FORM</auth-method>
  <form-login-config>
   <form-login-page>/public/pages/security/login.jsp</form-login-page>
   <form-error-page>/public/pages/error/acess.jsp</form-error-page>
  </form-login-config>
 </login-config>
</web-app>
